- var shareTitle = "Freehold Games";
- var shareDesc = "Creators of Caves of Qud and Sproggiwood";
- var shareUrl = "http://freeholdgames.com";
- var shareTwitter = "@FreeholdGames";
- var shareThumb = "http://freeholdgames.com/img/shc-thumb";
- var shareAlt = shareTitle + '. ' + shareDesc;
//- - var youtubeID = 'PZm6bFTSreo';

doctype html
html(xmlns:fb="http://ogp.me/ns/fb#")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1.0')

    title= shareTitle

    meta(name='description', content=shareDesc)
    meta(name='author', content= "Site by Nick Splendorr: splendorr.com")

    //- Schema.org markup for Google+
    meta(itemprop="name" content=shareTitle)
    meta(itemprop="description" content=shareDesc)
    //- Facebook Thumb 1200 × 675px, aspect 16:9
    meta(itemprop="image" content=shareThumb + "-facebook-optim.png")

    //- Facebook Open Graph
    meta(property='og:type' content='website')
    meta(property='og:url' content=shareUrl)
    meta(property='og:title' content=shareTitle)
    meta(property='og:description' content=shareDesc)
    //- Facebook Thumb 1200 × 675px, aspect 16:9
    meta(property="og:image" content=shareThumb + "-facebook-optim.png")
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1419" />
    <meta property="og:image:height" content="798" />

    //- Twitter Card
    meta(name='twitter:card' content='summary_large_image')
    meta(name='twitter:site', content=shareTwitter)
    meta(name='twitter:creator', content='@nosplendorr')
    meta(name='twitter:domain' content=shareUrl)
    meta(name='twitter:title' content=shareTitle)
    meta(name="twitter:description" content=shareDesc)
    //- Twitter 1127px × 564px, aspect 2:1, minimum dimensions of 300x157 or maximum of 4096x4096 pixels
    meta(name="twitter:image" content=shareThumb + "-twitter-optim.png")
    meta(name="twitter:image:alt" content=shareAlt)
    meta(name='twitter:url' content=shareUrl)
    meta(name='twitter:label1' content='Now Available')
    meta(name='twitter:data1' content='Steam and PS VR')


    link(rel="stylesheet", href="css/main.css")

    <script   src="https://code.jquery.com/jquery-1.12.4.min.js"   integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="   crossorigin="anonymous" ></script>
    <script src="swipebox/js/jquery.swipebox.js"></script>
    <link rel="stylesheet" href="swipebox/css/swipebox.css">
    //- script(src="js/parallax.js", type="text/javascript")
    //- script(src="js/parallax.min.js", type="text/javascript")
    //- script(src="js/anime.js", type="text/javascript")
    //- script(src="js/anime.min.js", type="text/javascript")
    //- link(rel='shortcut icon', href='img/favicon.png?v=1')
    link(rel='shortcut icon', href='img/favicon.ico?v=2', type='image/x-icon')

  body

    .navBar
      //- .navLeft
      .navLinks
        a(href="#games", title="Games", onclick="this.blur();").rise Games
        //- a(href="#projects", title="Projects") Projects
        a(href="#team", title="Team", onclick="this.blur();").rise Team
        a(href="http://freeholdgames.com/Press/", title="Press", onclick="this.blur();").rise Press
        a(href="#contact", title="Contact", onclick="this.blur();").rise Contact
        a(href="http://forums.freeholdentertainment.com/forumdisplay.php?7-CoQ-General", title="Forums", onclick="this.blur();").rise Forums
      //- .navSocial
      //-   p twitter
      //-   p facebook
    .headerLogo
      img(src="img/FREEHOLD_Logo.svg", alt="")
    
    .mainContent.cf
      .games.section
        h1 Games
        .game.qud.freeShadow
          .game-logo.freeShadow
            img(src="img/QUD-logo-square-optim.png", alt="").showSmall
            img(src="img/QUD-logo-horiz-1920-optim.png", alt="").showLarge
          .game-info
            .game-screens
              .grid-container
                .game-screen.grid-item.trailer
                  a.swipebox.rise(href='https://www.youtube.com/watch?v=Qqz0p_kiDIQ', onclick="this.blur();", rel='qud-gallery')
                    img.game-page-play-button(src="img/play_button.svg")
                    img(src!='http://i1.ytimg.com/vi/Qqz0p_kiDIQ/mqdefault.jpg')
                each shot in ['game1', 'game3', 'qud_barathrums-study', 'qud_equipment-screen']
                  .game-screen.grid-item
                    a(href="img/screens-qud/" + shot + ".png", title="", onclick="this.blur();", rel='sproggi-gallery').swipebox.rise
                      img(src="img/screens-qud/" + shot + ".png", alt="")
            .game-description
              p Caves of Qud is a science fantasy RPG & roguelike epic. It’s set in a far future that’s deeply simulated, richly cultured, and rife with sentient plants. 

              p Available in Early Access on #[a.rise(href="#", title="title") Steam] and #[a.rise(href="#", title="title") Humble].

              p #[a.rise(href="http://cavesofqud.com", title="title") Visit Site] • #[a.rise(href="http://forums.freeholdentertainment.com/forumdisplay.php?7-CoQ-General", title="title") Join the Forum]

        .game.sproggi.freeShadow
          .game-logo.freeShadow
            img(src="img/SPROGGI-logo-square-optim.png", alt="").showSmall
            img(src="img/SPROGGI-logo-horiz-1920-optim.png", alt="").showLarge
          .game-info
            .game-screens
              .grid-container
                .game-screen.grid-item.trailer
                  a.swipebox.rise(href='https://www.youtube.com/watch?v=k4IGxuuMWG0', onclick="this.blur();", rel='sproggi-gallery')
                    img.game-page-play-button(src="img/play_button.svg")
                    img(src!='http://i1.ytimg.com/vi/k4IGxuuMWG0/mqdefault.jpg')
                each shot in ['Adventure1', 'Adventure2', 'Map', 'Town']
                  .game-screen.grid-item
                    a(href="img/screens-sproggiwood/" + shot + ".png", title="", onclick="this.blur();", rel='sproggi-gallery').swipebox.rise
                      img(src="img/screens-sproggiwood/" + shot + ".png", alt="")
            .game-description
              p Sproggiwood is a story-driven, turn-based roguelike set in a humorous world inspired by Finnish mythology. One moment, you're a simple farmer tending your grove -- the next, you’re lured through a mysterious portal by a talking sheep. Now you’re the prisoner of Sproggi, a mischievous forest spirit who tasks you with taming the monsters of its realm. But things go awry when you discover a new civilization -- will you befriend these curious newcomers, or will you crush them and claim Sproggiwood for your own?

              p Available on #[a(href="#", title="title") iOS], #[a(href="#", title="title") Google Play], #[a(href="#", title="title") Steam], and #[a(href="#", title="title") Humble].

              p #[a(href="http://forums.freeholdentertainment.com/forumdisplay.php?12-Beta-Feedback", title="title") Join the Forum]

      //- .other.section
      //-   h1 Related Projects
      //-   .grid-container.projects-container
      //-     .project-item
      //-       .project-box.freeShadow
      //-         .project-image(style="background-image: url('img/madball1.png');")
      //-         .project-description 
      //-           p Mad Ball is a time management game where the responsibility of hosting the queen’s ball has suddenly fallen to a young, unsuspecting noblewoman. Serve refreshments and arrange introductions as your guests try to drink themselves into stupor, set the ballroom on fire, and club each other to death with whole hams.
      //-           p #[a(href="http://s3.amazonaws.com/Madball/WebPlayer.html", title="title") Play in your browser!]

      //-     .project-item
      //-       .project-box.freeShadow
      //-         .project-image(style="background-image: url('');")
      //-         .project-description 
      //-           p Project Description

      //-     .project-item
      //-       .project-box.freeShadow
      //-         .project-image(style="background-image: url('');")
      //-         .project-description 
      //-           p Project Description

      .team.section
        h1 The Team
        .grid-container
          .team-grid-item
            .team-box.freeShadow
              .team-photo(style="background-image: url(img/brian.png);")
              .team-description
                .team-text
                  .team-name Brian Bucklew
                  .team-bio A semi-sentient colony of self-assembling, cooperative, biological nano-units. Still somewhat functional, despite its age.
                .team-contact
                  .team-social
                    a(href="https://twitter.com/unormal", title="title") @unormal
                  .team-url
                    //- a(href="#", title="title") webpage.com 
          .team-grid-item
            .team-box.freeShadow
              .team-photo(style="background-image: url('img/jason.png');")
              .team-description
                .team-text
                  .team-name Jason Grinblat
                  .team-bio Caves of Qud & Sproggiwood. also: generated histories, hidden monasteries, sentient plants.
                .team-contact
                  .team-social
                    a(href="https://twitter.com/ptychomancer", title="title") @ptychomancer
                  .team-url
                    //- a(href="#", title="title") webpage.com 
          .team-grid-item
            .team-box.freeShadow
              .team-photo(style="background-image: url('img/jaana.png');")
              .team-description
                .team-text
                  .team-name Jaana Heiska
                  .team-bio Illustrator and Artist on Sproggiwood and Mad Ball.
                .team-contact
                  .team-social
                    a(href="https://twitter.com/JaanaHeiska", title="title") @JaanaHeiska
                  .team-url
                    a(href="#", title="title") jaanaheiska.com 

      .contact.section
        h1 Contact
        .grid-container
          .contact-grid-item 
            .contact-box.freeShadow
              .contact-item
                p Email
                a(href="mailto:contact@freeholdgames.com", title="Email for General Inquiries") contact@freeholdgames.com
              .contact-item
                p Twitter
                a(href="https://twitter.com/freeholdgames", title="Freehold Game Facebook Page") @freeholdgames
              .contact-item
                p Facebook
                a(href="http://facebook.com/freeholdgames", title="Freehold Game Facebook Page") /freeholdgames
          .contact-grid-item 
            .mailing-box.freeShadow
              .mailing-header Sign up for infrequent email announcements
              #mc_embed_signup.mailingList
                form#mc-embedded-subscribe-form.validate(action='http://freeholdgames.us3.list-manage1.com/subscribe/post?u=51d94474d6ebc9e4fb65f9185&id=7d70ce3890', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
                  .mc-field-group
                    label.mc-label(for='mce-EMAIL') Email Address (required)
                    br
                    input#mce-EMAIL.required.email(type='email', value='', name='EMAIL')
                  .mailing-name-row
                    .mc-field-group
                      label.mc-label(for='mce-FNAME') First Name 
                      br
                      input#mce-FNAME.mctext(type='text', value='', name='FNAME')
                    .mc-field-group
                      label.mc-label(for='mce-LNAME') Last Name 
                      br
                      input#mce-LNAME.mctext(type='text', value='', name='LNAME')
                  #mce-responses.clear
                    #mce-error-response.response(style='display:none')
                    #mce-success-response.response(style='display:none')
                  // real people should not fill this in and expect good things - do not remove this or risk form bot signups
                  div(style='position: absolute; left: -5000px;')
                    input(type='text', name='b_51d94474d6ebc9e4fb65f9185_7d70ce3890', tabindex='-1', value='')
                  .clear
                    input#mc-embedded-subscribe.button(type='submit', value='Subscribe', name='subscribe')

    .footer.freeShadow
      p © 2013–#[span#currentYear 2017] Freehold Games, LLC. All Rights Reserved.
      p Site design by #[a(href="http://splendorr.com" title="Splendorr") Splendorr]
      a(href="privacypolicy.htm", title="Privacy Policy") Privacy Policy

    script(src="js/master.js", type="text/javascript")

